<%= javascript_include_tag 'main_js' %>
<%= stylesheet_link_tag "main_sheets" %>
<%= form_with url: encrypt_text_path, local: true do |form| %>
<div class='page-container'>
  
  <div class='title-container'>
    <h3 class='title'>Cryptool</h3>
  </div>

  <div class='content-container'>
    <div class='asset-container'>
      <%= image_tag 'toothless.gif', width:"300px" %>
      <audio src="<%= audio_path 'driftveil_city.mp3'%>" id="music" type="audio/mpeg" controls>
        Your browser does not support the audio element.
      </audio>
    </div>
    
    <div class='form-container'>

      <div class='grid-container'>
        <%= label_tag :input_type, "Input Type:", id:"input_type_select_label", class:'form-label'%>
        <%= select_tag :input_type, options_for_select(['Text', 'Binary File'], selected: params[:input_type]), class:'form-select', id:"input_type_select" %>

        <%= label_tag :input_text, "Input Text:", id:"text_input_label", class:'form-label' %>
        <%= text_field_tag :input_text, params[:input_text], id:"text_input", class:"form-input" %>

        
        <div class='form-label' id="file_input_label" style="display: none;">
          <%= label_tag :file, "Select File:" %>
        </div>
        <div class='form-input' id="file_input" style="display: none;">
          <%= file_field_tag :file %>
        </div>

        <%= label_tag :algorithm, "Cipher Algorithm:", class:'form-label' %>
        <%= select_tag :algorithm, options_for_select([
          ['Vigenere Cipher', 'vigenere'], 
          ['Auto-Key Vigenere Cipher', 'auto_key_vigenere'], 
          ['Extended Vigenere Cipher', 'extended_vigenere'], 
          ['Playfair Cipher', 'playfair'], 
          ['Affine Cipher', 'affine'], 
          ['Hill Cipher', 'hill'], 
          ['Super Encryption', 'super_encryption'], 
          ['Enigma Cipher', 'enigma']
          ], selected: params[:algorithm]), class: 'form-select', id: 'algorithm-select' %>
        
        <div></div>
        <div id='hint'> </div>

        <%= label_tag :encryption_key, "Key:", class: 'form-label' %>
        <%= text_field_tag :encryption_key, params[:encryption_key], id:'file_input', class:'form-input' %>
      </div>

      <div class='button-container'>
        <%= submit_tag "Encrypt", id:"encrypt", class: 'encrypt-button' %>
        <%= form.submit "Decrypt", id:"decrypt", class: 'decrypt-button' %>
        <button id='result' class='result-button'> Show Last Result </button>
      </div>

    </div>
  </div>

  <footer>
    <p> © Cryptool - IF4020  </p>
  </footer>

</div> 

<% if @result_text || @encoded_result_text %>
  <div class='popup-container' id='popup'>
    <div class='black-overlay' id='black-overlay'></div>

    <div class='result-container'>
      <h3 class="subtitle"> Cipher Result - <%= @cipher_name %> </h3>

      <div class='result-input'>
        <p> Input Text: </br> <%= @input_text %> </p>
        <p> Key: </br> <%= @key %> </p>
      </div>
      
      <% if @result_text %>
        <p> Actual Result: </p>
        <textarea class="result-text-area" readonly><%= @result_text %></textarea>
      <% end %>

      <% if @encoded_result_text %>
        <p> Encoded to Base64 Result: </p>
        <textarea class="result-text-area" readonly><%= @encoded_result_text %></textarea>
      <% end %>
    </div>
  </div>
<% end %>

<% end %>
